<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Com.Fujitsu.Nanto.MadoguchiApp.Win32Component.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Com.Fujitsu.Nanto.MadoguchiApp.CameraOcr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Fujitsu.CameraOcr.Wrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <developmentMode developerInstallation="true"/>
  </runtime>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <applicationSettings>
    <Com.Fujitsu.Nanto.MadoguchiApp.Win32Component.Properties.Settings>
      <setting name="name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="kana" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="birthday" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="address" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="issuanceDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bandColor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="validatedDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="number" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="type" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="typeNumber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="condition1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="condition2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="condition3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="condition4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="acquisitionDateNiKoGen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="acquisitionDateOther" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="acquisitionDate2nd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="publicSafetyCommission" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="facePhoto" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sex" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NeedsPrefectures" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsOcrDriversLicenseEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsOcrDriversLicenseBackEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsOcrNotificationEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsOcrMyNumberFrontEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsOcrMyNumberBackEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsOcrResidenceCardEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsOcrSpecialPermanentEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsCardTypeErrorEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckLight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GuideParam" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CroppingRegionParam" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="periodOfStay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="nationality" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GuideParam_Scan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CroppingRegionParam_Scan" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="JpegQuality" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="LogDir" serializeAs="String">
        <value>C:\FBCAPL\kiban\log\</value>
      </setting>
    </Com.Fujitsu.Nanto.MadoguchiApp.Win32Component.Properties.Settings>
  </applicationSettings>
</configuration>
